Authorization tab

- [x] Create a new tab page in the request notebook for the Authorization information.
- [x] Design a class system similar to the one used for bodies, where different panels can co-exist and be chosen.
- [ ] Implement some authorization schemes:
  - [x] Basic authorization as defined in [RFC 7617](https://www.iana.org/go/rfc7617)
  - [ ] Digest authorization as defined in [RFC 7616](https://www.iana.org/go/rfc7616)
  - [x] Bearer authorization as defined in [RFC 6750](https://www.iana.org/go/rfc6750)
- [x] Make sure that if an authorization scheme is set, the `Authorization` header is automatically appended to HTTP requests.

I know what OAuth is an authorization scheme that would be highly requested, but the complexity at the moment makes it outside of the scope of this issue.